body {
    height: 100vh;
    box-sizing: border-box;
    cursor: none; 
    background-color: #222;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    font-size: 2em;
}

.turkish-flag-cursor {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%); 
    width: 80px; 
    height: 53px; 
    background-color: #E30A17;
    border-radius: 3px;
    pointer-events: none;
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    display: flex; 
    align-items: center;
}

.moon {
    position: relative;
    width: 25px; 
    height: 25px; 
    border-radius: 50%;
    background-color: white; 
    left: 20px; 
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 5px; 
        width: 25px; 
        height: 25px; 
        border-radius: 50%;
        background-color: #E30A17; 
    }
}

.star {
    position: absolute;
    width: 10px;
    height: 10px; 
    background-color: transparent;
    left: 45px; 
    top: 50%;
    transform: translate(-50%, -50%); 
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: white;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }
}
