@charset "utf-8";

/*#navbar{

}

#navbar #holder {
    height: 64px;
    border-bottom: 1px solid #000;
}

#navbar #holder ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar #holder ul li a {
    text-decoration: none;
    float: left;
    margin-right: 5px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #000;
    border: 1px solid #000;
    border-bottom: none;
    padding: 20px;
    width: 75px;
    text-align: center;
    display: block;
    background: #69F;
}

#navbar #holder ul li a:hover {
    background: #F90;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
}

