* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
}

.heart {
    font-size: 50vh; 
    position: relative;
    color: red; 
}

.heart-beat {
    position: relative;
    z-index: -1;
    animation: beat 0.4s linear infinite; 
}

@keyframes beat {
    0% {transform: scale(1);}
    14% {transform: scale(.9) skewX(.004turn)}
    21% {transform: scale(1.1) skewX(.008turn)}
    29% {transform: scale(1);}
    35% {transform: scale(1) skewX(0);}
    100% {transform: scale(1);} 
}

.heart-echo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: echo 0.4s linear infinite; 
}

@keyframes echo {
    0% {opacity: .5; transform: scale(1);}
    14% {opacity: .8; transform: scale(.8);}
    21% {opacity: .4; transform: scale(1.1);}
    100% {opacity: .0; transform: scale(3.5);} 
}
